<h1>{{title}}</h1>
<ul class="nav justify-content-end">
    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
    <li class="nav-item"><a class="nav-link" href="/heroes">Heroes</a></li>
    <li class="nav-item"><a class="nav-link" href="/part1">Component Study</a></li>
    <li class="nav-item"><a class="nav-link" href="/fc1">Father-child demo 1</a></li>
    <li class="nav-item"><a class="nav-link" href="/fc2">Father-child demo 2</a></li>
    <li class="nav-item"><a class="nav-link" href="/mission">Mission Controller</a></li>
</ul>
<router-outlet></router-outlet>
<app-messages></app-messages>